<!DOCTYPE html>
<html lang="en">
<%- include("header") %>
<body>
<script>
    window.initialData = <%-JSON.stringify(initialData)%>;
</script>
    <div id="root"><%-initialMarkup%></div>
    <script src="/bundle.js"></script>
</body>
</html>